docker {
  enabled = false
}

singularity {
  enabled = false
}

apptainer {
  enabled = true
  autoMounts = true
  cacheDir = '/project/def-lefranco/yourname/NXF_SINGULARITY_CACHEDIR'
  pullTimeout = '2h'
  runOptions = '--bind /lustre09:/lustre09 --bind /project:/project --bind /scratch:/scratch'
}

process {
  executor = 'slurm'

  withName: 'pipeline:build_minimap_index' {
    cpus = 16
    memory = '128 GB'
    time = '12h'
  }

  withLabel: 'minimap2' {
    cpus = 16
    memory = '128 GB'
    time = '24h'
  }
}

executor {
  queueSize = 20
}
